html
    head
        title PUG   
    body
        h1 SIGN UP FORM
         form(action="/register", method="post")
         label(for="first_name") First Name:
         input(type="text", placeholder="Enter your first name")
         label(for="first_name") Last Name:
         input(type="text", placeholder="Enter your last name")
         label(for="email") Email:
         input(type="email", placeholder="Enter your Email")
         input(type="button", value="Register")