extends layouts.pug

block appContent


        
        div.row.justify-content-center
            div.col-md-6
                header.card-header
                    a.float-right.btn.btn-outline-primary Log in
                    h4.card-title REGISTER
                div.card-body
                    form(method="POST" )
                        div.form-row
                            div.col-sm-6.form-group
                                label First Name:
                                input.form-control(name="first_name",type="text", placeholder="Enter your first name")
                            
                            div.col-sm-6.form-group
                                label Last Name:
                                input.form-control(name="last_name",type="text",placeholder="Enter your last name")
                                    
                        div.form-group    
                            label Email address:
                            input.form-control(name="email",type="email",placeholder="Enter your Email")
                            small We'll never share your email with anyone else

                        div.form-group
                            label.form-check.form-check-inline
                                input.form-check-input(type="radio" name="gender" value="Male")
                                span.form-check-label Male  
                            label.form-check.form-check-inline
                                input.form-check-input(type="radio" name="gender" value="Female")
                                span.form-check-label Female
                            
                        div.form-row
                            div.col-md-6.form-group    
                                label City:
                                input.form-control(name="city" type="text")

                            div.col-md-6.form-group    
                                    label Country:
                                    select.form-control(name="country" type="text")
                                        option(value="") Choose...
                                        option(value="Uzbekistan") Uzbekistan
                                        option(value="Russia") Russia
                                        option(value="United States" selected="") United States
                                        option(value="India") India
                                        option(value="Afghanistan") Afghanistan
                                        option(value="Uganda") Uganda

                        div.form-row
                            div.col.form-group
                                div.form-group
                                    label Create Password :
                                    input.form-control(name="password" type="password")            
                            
                            div.form-group
                            input.btn.btn-primary.btn-block(type="submit", value="Register")
